.gridContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 3fr;
  }
}

.postFilterOptions {
  display: flex;
  justify-content: space-between;
}
