.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.form {
  max-width: 85%;
  width: 100%;
  background: var(--base-1);
  padding: 2.5rem 1.875rem;
  border-radius: var(--border-radius);
}

@media (min-width: 600px) {
  .form {
    max-width: 28rem;
  }
}

.cta {
  padding-top: 1rem;
  text-align: right;
}
